<!doctype html>
<html class="default no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Component | reactor-ts</title>
	<meta name="description" content="Documentation for reactor-ts">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/main.css">
	<script async src="../assets/js/search.js" id="search-script"></script>
</head>
<body>
<header>
	<div class="tsd-page-toolbar">
		<div class="container">
			<div class="table-wrap">
				<div class="table-cell" id="tsd-search" data-index="../assets/js/search.json" data-base="..">
					<div class="field">
						<label for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
						<input id="tsd-search-field" type="text" />
					</div>
					<ul class="results">
						<li class="state loading">Preparing search index...</li>
						<li class="state failure">The search index is not available</li>
					</ul>
					<a href="../index.html" class="title">reactor-ts</a>
				</div>
				<div class="table-cell" id="tsd-widgets">
					<div id="tsd-filter">
						<a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
						<div class="tsd-filter-group">
							<div class="tsd-select" id="tsd-filter-visibility">
								<span class="tsd-select-label">All</span>
								<ul class="tsd-select-list">
									<li data-value="public">Public</li>
									<li data-value="protected">Public/Protected</li>
									<li data-value="private" class="selected">All</li>
								</ul>
							</div>
							<input type="checkbox" id="tsd-filter-inherited" checked />
							<label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>
							<input type="checkbox" id="tsd-filter-externals" checked />
							<label class="tsd-widget" for="tsd-filter-externals">Externals</label>
						</div>
					</div>
					<a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tsd-page-title">
		<div class="container">
			<ul class="tsd-breadcrumb">
				<li>
					<a href="../modules.html">reactor-ts</a>
				</li>
				<li>
					<a href="../modules/component.html">component</a>
				</li>
				<li>
					<a href="component.Component.html">Component</a>
				</li>
			</ul>
			<h1>Class Component</h1>
		</div>
	</div>
</header>
<div class="container container-main">
	<div class="row">
		<div class="col-8 col-content">
			<section class="tsd-panel tsd-comment">
				<div class="tsd-comment tsd-typography">
					<div class="lead">
						<p>Base class for named objects embedded in a hierarchy of reactors. Each
							component can only be owned by a single reactor instance. All members of
							this class are prefixed with an underscore to avoid name collisions with
							ports, actions, timers, or reactor instances that may be part of the
						interface of a <code>Reactor</code>, which extends this class.</p>
					</div>
					<dl class="tsd-comment-tags">
						<dt>author</dt>
						<dd><p>Marten Lohstroh (<a href="mailto:marten@berkeley.edu">marten@berkeley.edu</a>)</p>
						</dd>
					</dl>
				</div>
			</section>
			<section class="tsd-panel tsd-hierarchy">
				<h3>Hierarchy</h3>
				<ul class="tsd-hierarchy">
					<li>
						<span class="target">Component</span>
						<ul class="tsd-hierarchy">
							<li>
								<a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a>
							</li>
							<li>
								<a href="trigger.Trigger.html" class="tsd-signature-type" data-tsd-kind="Class">Trigger</a>
							</li>
						</ul>
					</li>
				</ul>
			</section>
			<section class="tsd-panel-group tsd-index-group">
				<h2>Index</h2>
				<section class="tsd-panel tsd-index-panel">
					<div class="tsd-index-content">
						<section class="tsd-index-section ">
							<h3>Constructors</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-constructor tsd-parent-kind-class"><a href="component.Component.html#constructor" class="tsd-kind-icon">constructor</a></li>
							</ul>
						</section>
						<section class="tsd-index-section ">
							<h3>Properties</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-property tsd-parent-kind-class tsd-is-private"><a href="component.Component.html#_container" class="tsd-kind-icon">_container</a></li>
								<li class="tsd-kind-property tsd-parent-kind-class tsd-is-protected"><a href="component.Component.html#_key" class="tsd-kind-icon">_key</a></li>
								<li class="tsd-kind-property tsd-parent-kind-class tsd-is-static"><a href="component.Component.html#pathSeparator" class="tsd-kind-icon">path<wbr>Separator</a></li>
							</ul>
						</section>
						<section class="tsd-index-section ">
							<h3>Methods</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-method tsd-parent-kind-class tsd-is-protected"><a href="component.Component.html#_getContainer" class="tsd-kind-icon">_get<wbr>Container</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class"><a href="component.Component.html#_getFullyQualifiedName" class="tsd-kind-icon">_get<wbr>Fully<wbr>Qualified<wbr>Name</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class"><a href="component.Component.html#_getName" class="tsd-kind-icon">_get<wbr>Name</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class"><a href="component.Component.html#_isContainedBy" class="tsd-kind-icon">_is<wbr>Contained<wbr>By</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class"><a href="component.Component.html#_isContainedByContainerOf" class="tsd-kind-icon">_is<wbr>Contained<wbr>ByContainer<wbr>Of</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class"><a href="component.Component.html#_isRegistered" class="tsd-kind-icon">_is<wbr>Registered</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class tsd-is-protected"><a href="component.Component.html#_linkToRuntimeObject" class="tsd-kind-icon">_link<wbr>ToRuntime<wbr>Object</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class"><a href="component.Component.html#_receiveRuntimeObject" class="tsd-kind-icon">_receive<wbr>Runtime<wbr>Object</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class tsd-is-static"><a href="component.Component.html#keyOfMatchingBank" class="tsd-kind-icon">key<wbr>OfMatching<wbr>Bank</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class tsd-is-static"><a href="component.Component.html#keyOfMatchingEntry" class="tsd-kind-icon">key<wbr>OfMatching<wbr>Entry</a></li>
								<li class="tsd-kind-method tsd-parent-kind-class tsd-is-static"><a href="component.Component.html#keyOfMatchingMultiport" class="tsd-kind-icon">key<wbr>OfMatching<wbr>Multiport</a></li>
							</ul>
						</section>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Constructors</h2>
				<section class="tsd-panel tsd-member tsd-kind-constructor tsd-parent-kind-class">
					<a name="constructor" class="tsd-anchor"></a>
					<h3>constructor</h3>
					<ul class="tsd-signatures tsd-kind-constructor tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">new <wbr>Component<span class="tsd-signature-symbol">(</span>container<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">null</span><span class="tsd-signature-symbol"> | </span><a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L40">src/core/component.ts:40</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Create a new component and register it with the given container.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>container: <span class="tsd-signature-type">null</span><span class="tsd-signature-symbol"> | </span><a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
											<p>The reactor that will contain the new component,
												<code>null</code> if this is an instance of <code>App</code>, in which case the component
											will be designated as its own container.</p>
											<p>Note that each subclass implementation needs to call the method
												<code>_linkToRuntimeObject</code> immediately after calling this super
											constructor in order to establish a link with the runtime object.</p>
										</div>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a></h4>
						</li>
					</ul>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Properties</h2>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-class tsd-is-private">
					<a name="_container" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagPrivate">Private</span> _container</h3>
					<div class="tsd-signature tsd-kind-icon">_container<span class="tsd-signature-symbol">:</span> <a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L27">src/core/component.ts:27</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>The container of this component. Each component is contained by a
								reactor. Only instances of <code>App</code>, which denote top-level reactors,
							are self-contained.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-class tsd-is-protected">
					<a name="_key" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagProtected">Protected</span> _key</h3>
					<div class="tsd-signature tsd-kind-icon">_key<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">Symbol</span><span class="tsd-signature-symbol"> = ...</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L20">src/core/component.ts:20</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>A symbol that identifies this component, and it also used to selectively
							grant access to its privileged functions.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-class tsd-is-static">
					<a name="pathSeparator" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagStatic">Static</span> path<wbr>Separator</h3>
					<div class="tsd-signature tsd-kind-icon">path<wbr>Separator<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string</span><span class="tsd-signature-symbol"> = &#x27;.&#x27;</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L14">src/core/component.ts:14</a></li>
						</ul>
					</aside>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Methods</h2>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class tsd-is-protected">
					<a name="_getContainer" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagProtected">Protected</span> _get<wbr>Container</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class tsd-is-protected">
						<li class="tsd-signature tsd-kind-icon">_get<wbr>Container<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L202">src/core/component.ts:202</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Return the container of this component.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class">
					<a name="_getFullyQualifiedName" class="tsd-anchor"></a>
					<h3>_get<wbr>Fully<wbr>Qualified<wbr>Name</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">_get<wbr>Fully<wbr>Qualified<wbr>Name<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L112">src/core/component.ts:112</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Return a string that identifies this component.
									The name is a path constructed as <code>[App]/[..]/[Container]/[This]</code>.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">string</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class">
					<a name="_getName" class="tsd-anchor"></a>
					<h3>_get<wbr>Name</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">_get<wbr>Name<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L175">src/core/component.ts:175</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Return a string that identifies this component within its container.
									If no such string was found, return the name of the constructor.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">string</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class">
					<a name="_isContainedBy" class="tsd-anchor"></a>
					<h3>_is<wbr>Contained<wbr>By</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">_is<wbr>Contained<wbr>By<span class="tsd-signature-symbol">(</span>reactor<span class="tsd-signature-symbol">: </span><a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">boolean</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L87">src/core/component.ts:87</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Confirm whether or not this component is contained by the given reactor.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>reactor: <a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>The presumptive container of this component.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">boolean</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class">
					<a name="_isContainedByContainerOf" class="tsd-anchor"></a>
					<h3>_is<wbr>Contained<wbr>ByContainer<wbr>Of</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">_is<wbr>Contained<wbr>ByContainer<wbr>Of<span class="tsd-signature-symbol">(</span>reactor<span class="tsd-signature-symbol">: </span><a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">boolean</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L101">src/core/component.ts:101</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Confirm whether or not this component is contained by the container of
									the given reactor.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>reactor: <a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>The container presumptive container of the container of
										this component.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">boolean</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class">
					<a name="_isRegistered" class="tsd-anchor"></a>
					<h3>_is<wbr>Registered</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">_is<wbr>Registered<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">boolean</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L79">src/core/component.ts:79</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Report whether this component has been registered with its container or not.
										In principle, all components should have a container, but at the time of
										their construction there is a brief period where they are not. This is the
									only moment that a component is allowed register with its container.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">boolean</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class tsd-is-protected">
					<a name="_linkToRuntimeObject" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagProtected">Protected</span> _link<wbr>ToRuntime<wbr>Object</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class tsd-is-protected">
						<li class="tsd-signature tsd-kind-icon">_link<wbr>ToRuntime<wbr>Object<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L69">src/core/component.ts:69</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Request the container to pass down its runtime object to this component.
										This function is to be called once and only once upon the construction
										of an object that subclasses <code>Component</code>. If it is called more than once
									a runtime error results.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class">
					<a name="_receiveRuntimeObject" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagAbstract">Abstract</span> _receive<wbr>Runtime<wbr>Object</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">_receive<wbr>Runtime<wbr>Object<span class="tsd-signature-symbol">(</span>runtime<span class="tsd-signature-symbol">: </span><a href="../interfaces/reactor.Runtime.html" class="tsd-signature-type" data-tsd-kind="Interface">Runtime</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L61">src/core/component.ts:61</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Store a reference to the given runtime object as a private class member.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>runtime: <a href="../interfaces/reactor.Runtime.html" class="tsd-signature-type" data-tsd-kind="Interface">Runtime</a></h5>
									<div class="tsd-comment tsd-typography">
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class tsd-is-static">
					<a name="keyOfMatchingBank" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagStatic">Static</span> key<wbr>OfMatching<wbr>Bank</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class tsd-is-static">
						<li class="tsd-signature tsd-kind-icon">key<wbr>OfMatching<wbr>Bank<span class="tsd-signature-symbol">(</span>member<span class="tsd-signature-symbol">: </span><a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a>, reactor<span class="tsd-signature-symbol">: </span><a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L158">src/core/component.ts:158</a></li>
								</ul>
							</aside>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>member: <a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a></h5>
								</li>
								<li>
									<h5>reactor: <a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></h5>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class tsd-is-static">
					<a name="keyOfMatchingEntry" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagStatic">Static</span> key<wbr>OfMatching<wbr>Entry</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class tsd-is-static">
						<li class="tsd-signature tsd-kind-icon">key<wbr>OfMatching<wbr>Entry<span class="tsd-signature-symbol">(</span>component<span class="tsd-signature-symbol">: </span><a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a>, object<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">Object</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L128">src/core/component.ts:128</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Given a component and its container (the global object if the component
									is an <code>App</code>), return the key of the entry that matches the component.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>component: <a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>a component of which the object is assumed to be its
										container</p>
									</div>
								</li>
								<li>
									<h5>object: <span class="tsd-signature-type">Object</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>the assumed container of the component</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></h4>
							<p>the key of the entry that matches the component</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-class tsd-is-static">
					<a name="keyOfMatchingMultiport" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagStatic">Static</span> key<wbr>OfMatching<wbr>Multiport</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-class tsd-is-static">
						<li class="tsd-signature tsd-kind-icon">key<wbr>OfMatching<wbr>Multiport<span class="tsd-signature-symbol">(</span>port<span class="tsd-signature-symbol">: </span><a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a>, reactor<span class="tsd-signature-symbol">: </span><a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in <a href="https://github.com/lf-lang/reactor-ts/blob/3d67569/src/core/component.ts#L145">src/core/component.ts:145</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Given a port and its containing reactor, return the key of the entry that matches
									a multiport found in the reactor that matches the port.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>port: <a href="component.Component.html" class="tsd-signature-type" data-tsd-kind="Class">Component</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>a port that is assumed to be a constituent of a multiport declared on
										the given reactor</p>
									</div>
								</li>
								<li>
									<h5>reactor: <a href="reactor.Reactor.html" class="tsd-signature-type" data-tsd-kind="Class">Reactor</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>a reactor that is assumed to have a multiport of which one of the
										constituents is the given port</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></h4>
							<p>an identifier for the port based on its location in a matching multiport</p>
						</li>
					</ul>
				</section>
			</section>
		</div>
		<div class="col-4 col-menu menu-sticky-wrap menu-highlight">
			<nav class="tsd-navigation primary">
				<ul>
					<li class=" ">
						<a href="../modules.html">Modules</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/action.html">action</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/bank.html">bank</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/cli.html">cli</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/command_line_args.html">command-<wbr>line-<wbr>args</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/command_line_usage.html">command-<wbr>line-<wbr>usage</a>
					</li>
					<li class="current tsd-kind-module">
						<a href="../modules/component.html">component</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/event.html">event</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/federation.html">federation</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/internal.html">internal</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/microtime.html">microtime</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/multiport.html">multiport</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/nanotimer.html">nanotimer</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/port.html">port</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/reaction.html">reaction</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/reactor.html">reactor</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/state.html">state</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/strings.html">strings</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/time.html">time</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/trigger.html">trigger</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/types.html">types</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/ulog.html">ulog</a>
					</li>
					<li class=" tsd-kind-module">
						<a href="../modules/util.html">util</a>
					</li>
				</ul>
			</nav>
			<nav class="tsd-navigation secondary menu-sticky">
				<ul class="before-current">
				</ul>
				<ul class="current">
					<li class="current tsd-kind-class tsd-parent-kind-module">
						<a href="component.Component.html" class="tsd-kind-icon">Component</a>
						<ul>
							<li class=" tsd-kind-constructor tsd-parent-kind-class">
								<a href="component.Component.html#constructor" class="tsd-kind-icon">constructor</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-class tsd-is-private">
								<a href="component.Component.html#_container" class="tsd-kind-icon">_container</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-class tsd-is-protected">
								<a href="component.Component.html#_key" class="tsd-kind-icon">_key</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-class tsd-is-static">
								<a href="component.Component.html#pathSeparator" class="tsd-kind-icon">path<wbr>Separator</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class tsd-is-protected">
								<a href="component.Component.html#_getContainer" class="tsd-kind-icon">_get<wbr>Container</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class">
								<a href="component.Component.html#_getFullyQualifiedName" class="tsd-kind-icon">_get<wbr>Fully<wbr>Qualified<wbr>Name</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class">
								<a href="component.Component.html#_getName" class="tsd-kind-icon">_get<wbr>Name</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class">
								<a href="component.Component.html#_isContainedBy" class="tsd-kind-icon">_is<wbr>Contained<wbr>By</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class">
								<a href="component.Component.html#_isContainedByContainerOf" class="tsd-kind-icon">_is<wbr>Contained<wbr>ByContainer<wbr>Of</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class">
								<a href="component.Component.html#_isRegistered" class="tsd-kind-icon">_is<wbr>Registered</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class tsd-is-protected">
								<a href="component.Component.html#_linkToRuntimeObject" class="tsd-kind-icon">_link<wbr>ToRuntime<wbr>Object</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class">
								<a href="component.Component.html#_receiveRuntimeObject" class="tsd-kind-icon">_receive<wbr>Runtime<wbr>Object</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class tsd-is-static">
								<a href="component.Component.html#keyOfMatchingBank" class="tsd-kind-icon">key<wbr>OfMatching<wbr>Bank</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class tsd-is-static">
								<a href="component.Component.html#keyOfMatchingEntry" class="tsd-kind-icon">key<wbr>OfMatching<wbr>Entry</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-class tsd-is-static">
								<a href="component.Component.html#keyOfMatchingMultiport" class="tsd-kind-icon">key<wbr>OfMatching<wbr>Multiport</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="after-current">
				</ul>
			</nav>
		</div>
	</div>
</div>
<footer class="with-border-bottom">
	<div class="container">
		<h2>Legend</h2>
		<div class="tsd-legend-group">
			<ul class="tsd-legend">
				<li class="tsd-kind-variable"><span class="tsd-kind-icon">Variable</span></li>
				<li class="tsd-kind-function"><span class="tsd-kind-icon">Function</span></li>
				<li class="tsd-kind-type-alias"><span class="tsd-kind-icon">Type alias</span></li>
				<li class="tsd-kind-type-alias tsd-has-type-parameter"><span class="tsd-kind-icon">Type alias with type parameter</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-class"><span class="tsd-kind-icon">Class</span></li>
				<li class="tsd-kind-class tsd-has-type-parameter"><span class="tsd-kind-icon">Class with type parameter</span></li>
				<li class="tsd-kind-constructor tsd-parent-kind-class"><span class="tsd-kind-icon">Constructor</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class"><span class="tsd-kind-icon">Method</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-interface"><span class="tsd-kind-icon">Interface</span></li>
				<li class="tsd-kind-interface tsd-has-type-parameter"><span class="tsd-kind-icon">Interface with type parameter</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected method</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static method</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-enum"><span class="tsd-kind-icon">Enumeration</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private property</span></li>
			</ul>
		</div>
	</div>
</footer>
<div class="container tsd-generator">
	<p>Generated using <a href="https://typedoc.org/" target="_blank">TypeDoc</a></p>
</div>
<div class="overlay"></div>
<script src="../assets/js/main.js"></script>
</body>
</html>