name: CI

on:
  push:
  pull_request:
  # Also allow running this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  jest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out reactor-ts repository
        uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Run the type checker and then run the tests
        run: |
          npm install
          npm run check-types
          npm run test

  lingua-franca:
    runs-on: ubuntu-latest
    steps:
      - name: Read lingua-franca-ref.txt
        id: lf
        run: echo "ref=$(cat reactor-ts/lingua-franca-ref.txt)" >> $GITHUB_OUTPUT
      - name: Check out lingua-franca repository
        uses: actions/checkout@v3
        with:
          repository: lf-lang/lingua-franca
          path: ./lingua-franca
          ref: ${{ steps.lf.outputs.ref }}
          fetch-depth: 0
      - name: Prepare build environment
        uses: ./lingua-franca/.github/actions/prepare-build-env
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install pnpm
        run: npm i -g pnpm
      - name: Perform Lingua Franca TypeScript tests
        working-directory: lingua-franca
        run: |
          ./gradlew test --tests org.lflang.tests.runtime.TypeScriptTest.* -Druntime="git://github.com/lf-lang/reactor-ts.git#${{ github.ref }}"
